BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
NamespaceIndentation: Inner
Language: Cpp
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
EmptyLineAfterAccessModifier: Always
EmptyLineBeforeAccessModifier: LogicalBlock
IncludeBlocks: Merge
PackConstructorInitializers: CurrentLine
PointerAlignment: Right
ReferenceAlignment: Right
QualifierAlignment: Left
